.CreateBtn {
  margin: 1px;
  border: none;
  float: right;
  color: #F4F7FB;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.25px;
  line-height: 18px;
  text-align: center;
  height: 32px;
  width: auto;
  border-radius: 20px;
  background-color: #003568;
}

.ActionButton {
  margin: 1px;
  border: none;
  color: #F4F7FB;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.25px;
  line-height: 18px;
  text-align: center;
  height: 32px;
  width: 109px;
  border-radius: 20px;
}
